!!!
%html
  %head
    %title Tanyaandjoel.com
    %link{:rel => "stylesheet", :href => "/style.css"}
  %body
    #header
      %nav
        %ul
          %li
            %a{ :href => "/", :title => "Home" } HOME
          %li
            %a{ :href => "/blog", :title => "Blog" } BLOG
    #main
      = yield
    #footer
